#block-helloblock-helloblock {
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: lightblue;
    padding: 7px;
}
#block-helloblock-helloblock div.content {
    background-color: aqua;
}